.main_block {
    display: flex;
    align-items: center;
    padding-left: 300px;
    background-color: #151921;
    color: #fff;
}

.image {
    width: 43px;
    height: 43px;
}

@media(max-width: 768px) {
    .main_block {
        padding-left: 0;
    }
}